<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>笔记列表</title>
</head>
<body>
    <h1>user的笔记 <a href="note/add">添加新笔记</a>  <a href="/note/download">下载文件</a> <a href="/note/upload">上传文件</a> <a href="/user/index">返回首页</a>
    </h1>
    <table >
        <tr>
            <td>
                <h1>ID</h1>
            </td>
            <td>
                <h1>标题</h1>
            </td>
            <td>
                <h1>创建时间</h1>
            </td>
            <td>
                <h1>修改时间</h1>
            </td>
            <td>
                <h1>修改</h1>
            </td>
            <td>
                <h1>删除</h1>
            </td>
        </tr>
        {% for n in page %}
        <tr>
            <td>{{ n.id }}</td>
            <td><a href="/note/mod/{{ n.id }}">{{ n.title }}</a></td>
            <td>{{ n.created_time }}</td>
            <td>{{ n.updated_time }}</td>
            <td><a href="/note/mod/{{ n.id }}">修改</a></td>
            <td><a href="/note/del/{{n.id}}">删除</a></td>
        </tr>
        {% endfor %}

        <tr>
            <td>
                {% if page.has_previous %}
            <a href="{% url 'book' %}?page={{ page.previous_page_number }}">上一页</a>
        {% else %}
        上一页
        {% endif %}

        {% for p in paginator.page_range %}
        {% if p == page.number %}
        {{ p }}
        {% else %}
        <a href="{% url 'book' %}?page={{ p }}">{{ p }}</a>
        {% endif %}
        {% endfor %}

        {% if page.has_next %}
        <a href="{% url 'book' %}?page={{ page.next_page_number }}">下一页</a>
        {% else %}
        下一页
        {% endif %}
            </td>
        </tr>




    </table>
</body>
</html>